

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* universal styles */
*{
    padding: 0;
    margin: 0;
}
/* nav bar style */
.btn-text{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13,19,33);
    width: 171px;
    height: 47px;
    margin-top: 32px;
}
.section-title{
    font-size: 32;
    font-weight: 800;
    padding: 0 47px;
    
}
.section-description{
    font-size: 16px;
    color: #0D1321;
} 
.btn-primary{
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13,19,33);
    padding: 17px 24px;
    margin-top: 38px;
    margin-right: 166px;
    width: auto;
    height: auto;
    border: 1px solid rgb(13, 19, 33, 0.8);
    border-radius: 8px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;
    width: 114px;
    height: 34px;
    margin-top: 50px;
    margin-left: 150px;
    text-align: left;
}
nav ul{
    display: flex;
    
 }
nav ul li{
    list-style: none;
}

/* banner styles */
.banner{
    margin-top: 35px;
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
}
.banner-content{
    position: absolute;
width: 998px;
height: 582px;
left: 221px;
right: 221px;
top: 157px;
flex-direction: column;  
}

.banner-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 24px 73px 0 73px;
}

.btn-contact{
        background-color:  rgb(13, 19, 33);;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 21px 24px;
        margin: 34px 377px 0 377px;
        width: 244px;
        border-radius: 8px;
    }
.banner-profile{
    width: 240.28px;
    height: 240px;
    margin: 0 378.86px 32px 378.86px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 74px 152px 0px 148px;
    
    
}
.why-web-dev{
    width: 946px;
    margin: 80px 97px; 
    
}
.section-width{
    width: 852px;
    text-align: center;
    color: #0D1321;
    margin: 0px 47px;
    
}
.section-description{
    margin-top: 24px;
}
.section-box{
    padding: 48px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    
}
.section-box-1{
    padding: 48px;
    
    display: flex;
    align-items: center;
    
}

.photo-width-1{
    width: 274.17px;
    height: 240px;
    margin-left: 98.83px;
}
.photo-width-2{
    width: 240px;
    height: 240px;
    margin-left: 32px;
}
.photo-width-3{
    width: 240px;
    height: 240px;
    margin-right: 133px;
}
.section-this-div{
    width: 477px;
    padding: 48px;
}
.section-this-div-p{
    margin-top: 10px;
    font-size: 16px;
}


.section-width-1{
    width: 852px;
    text-align: center;
    color: #0D1321;
    margin: 0px 144px;
    
}
.embed-video{
    margin-top: 48px;
}
.youtube-video-embed{
    margin: 32px;
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

.section-width-2{
    width: 852px;
    text-align: center;
    color: #0D1321;
    margin: 151px 95px 48px 99px;
    
}

.flex-box{
    display: flex;
    
}

.html-design{
    width: 364px;
    margin-right: 24px;
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
}
.css-design{
    width: 364px;
    margin-right: 24px;
    border-radius: 16px;
    padding: 40px;
    background: rgba(0, 76, 232, 0.05);
}
.javascript-design{
    width: 364px;
    margin-right: 24px;
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 223, 0, 0.05);
}
.design-h3{
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.design-p{
    font-size: 16px;
    margin-top: 8px;
    width: 284px;
}
.design-a{
    font-size: 16px;
    font-weight: bold;
    list-style: none;
   margin-top: 24px;
}
.design-a a{
    color: #0D1321;
}

.section-width-3{
    width: 852px;
    text-align: center;
    color: #0D1321;
    margin: 111px 97px 48px 97px;
    
}
.next-design{
    width: 1140px;
    height: 219px;
}

.react-design{
    display: flex;
    
     height: 140px;
    margin-bottom: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}
.react-img{
width: 94.78px;
height: 100px;
flex: none;
margin: 15.5px 24px 15.5px 40px;
}
.nodejs-design{
    display: flex;
    
    height: 140px;
    margin-bottom: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
    
}
.nodejs-img{
    width: 143.51px;
    height: 88px;
    flex: none;
margin: 25px 24px 0px 40px;
    
}
.mongodb-design{
    display: flex;
    
    height: 140px;
     border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 49px;
}
.mongodb-img{
    width: 108px;
    height: 108px;
    flex: none;
    margin: 25px 24px 0px 40px;
    
}

.next-design-p{
    
    margin-top: 8px;
}
.next-design-h3{
    font-size: 24px;
    font-weight: 800;
    margin-top: 8px;
}
.next-width{
    width: 941.22px;
    height: 219px;
}

.second-banner{
    background-image: url(../assets/handsack.jpg);
    width:1140px;
    height: 313px;
    
    border-radius: 16px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    background:  rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}
.second-banner-title{
    font-size: 32px;
    font-weight: bold;
    
    
}

.input-parent{
    width: 684px;
    display: flex;
        margin: 24px 180px 0px 180px;
        
}
.input-style-1{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 16px ;
    
}
.input-style-btn{
width: 120px;
height: 57px;
border-radius: 8px;
margin: 0px 16px; 
font-size: 20px;
font-weight: 600;  
    
}
.second-banner-content{
    width: 1044px;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px 64px;
    
}
#footer-section{
    width: 1440px;
height: 100px;
margin-top: 79px;
    background: rgba(13, 19, 33, 0.03);
    
}

.footer{
   


padding: 32px 150px 0 150px;

}
.footer-icon{
    width: 1140px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
   
    border-radius: 16px;
    background-color: white;
}
.footer-icon h4{
    margin-top: 6.5px;
}
.footer-icon ul{
    display: flex;
    list-style: none;
    padding-right: 24px;
}
.footer-icon ul li{
    padding-right: 24px;
}